@model AdminManagement.Models.OrderDetail

@{
    ViewBag.Title = "DeleteDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Xóa chi tiết đơn hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Người nhận")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.ShipName)
        </dd>
        <dt>
            @Html.DisplayName("Sản phẩm")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt>
            @Html.DisplayName("Số lượng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayName("Giá")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayName("Ngày tạo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayName("Ngày cập nhật")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-warning" style="width:6em" />
            @Html.ActionLink("Hủy bỏ", "Index", new { }, new { @class = "btn btn-danger", @style = "width:7em" })
        </div>
    }
</div>
