@model AdminManagement.Models.Discount

@{
    ViewBag.Title = "Tạo mức giảm giá cho tập khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Tạo mức giảm giá cho tập khách hàng <span style="float:right">@Html.ActionLink("Tạo loại khách hàng", "Create", "UserCategories", null, new { @class = "btn btn-primary btn-rect", @style = "width:12em" })</span></h3>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Loại Khách Hàng</label>
            <div class="col-md-10">
                @Html.DropDownList("UserCategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserCategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mức Giảm Giá</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Discount1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo" class="btn btn-warning" style="width:7em" />
                @Html.ActionLink("Hủy bỏ", "Index", null, new { @class = "btn btn-danger", @style = "width:7em" })
            </div>
        </div>
    </div>
}
